.main {
  display: flex;
  background-color: #151d26;
}
@font-face {
  font-family: "Mont-heavy";
  src: url(../public/Mont-HeavyDEMO.otf);
}
.rightContent {
  padding: 20px;
  width: 30%;
  font-family: "Mont-heavy", Verdana;
  color: #ffff;
  display: flex;
  flex-direction: column;
}

.header {
  background-image: url(../public/twitter.PNG);
  background-position: center;
  width: 40%;
  height: 100vh;
  transform: rotate(180deg);
}
.logo {
  display: flex;
  justify-content: right;

  transform: rotate(180deg);
}
.h1 {
  font-size: 4.3em;
}
.h2 {
  font-size: 2.5em;
}
.Button1 {
  margin: 15px 0 15px 0;
  border: none;
  border-radius: 20px;
  height: 40px;
  color: #ffffff;
  font-family: "Mont-heavy";
  font-size: 1.1em;
  width: 200px;
  background-color: #3690ed;
}
.Button2 {
  margin: 15px 0 15px 0;
  border: solid 1px #fff;
  border-radius: 40px;
  height: 35px;
  color: #3690ed;
  font-family: "Mont-heavy";
  font-size: 1.1em;
  width: 200px;
  background-color: #151d26;
}
.linkWhite {
  color: white;
  text-decoration: none;
}
