.page {
  height: 100vh;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF;
  border-right: 1px solid #232B35;
}

.profilPart {
  display: flex;
  gap: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.logo {
  object-fit: contain;
  transform: rotate(180deg);
  background: none;
  cursor: pointer;
}

.egg {
  object-fit: cover;
  border-radius: 150%;
}
